:root {
  --black: #0f0f0f;
  --green: #0ead69;
  --yellow: #fca311;
  --red: #e63946;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
p {
  margin-bottom: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.ant-layout-content {
  min-height: 100vh;
  overflow-y: scroll;
}
/* Layout Utils */
.hide {
  display: none !important;
}
.w-100 {
  width: 100%;
}
.d-flex {
  display: flex;
}
.justify-end {
  justify-content: end;
}

/* Spacing */

.mt-50 {
  margin-top: 50px;
}

/* Colors */
.bg-green {
  background-color: var(--green);
}
.bg-black {
  background-color: var(--black);
}

/* Custom Styles */

p[class^="status-"] {
  display: inline-block;
  padding: 6px 9px;
  border-radius: 2px;
  color: white;
  width: 100px;
  text-align: center;
  font-weight: 700;
}
.status-done {
  background-color: var(--green);
}
.status-pending {
  background-color: var(--yellow);
}
.status-cancel {
  background-color: var(--red);
}
